body{
    background: url(https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.container .jumbotron{
    margin-top: 150px;
    background: red;
    color: white;
}
h1{
    color: blue;
    text-align: center;
}